body {
	background-color: #929292;
	font-family: sans-serif;
}

#wrapper {
	margin: 0 50pt 50pt;
	border-color: #000000;
	background-color: #e5e5e5;
	box-shadow: 10pt 10pt 25pt #000000;
}

article {
	padding: 10pt;
}

header {
	background-color: black;
	color: white;
	padding: 10pt;
}

footer {
	text-align: center;
	background-color: #a5a5a5;
	padding: 5pt;
}

.out_ieee_outertable td {
	border: 2pt solid #333333;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
	text-align: center;
}

.out_ieee_innertable {
	border: 1pt solid #000000;
	cursor: pointer;
}

.out_ieee_innertable td {
	width: 15pt;
	height: 15pt;
	border-spacing: 2pt;
	border-collapse: separate;
}

#ieee_settings {
	border: 1pt solid #a5a5a5;
	margin: 5pt;
}
#ieee_predefined {
	border: 1pt solid #a5a5a5;
	margin: 5pt;
}
#in_number {
	border: 1pt solid #a5a5a5;
	margin: 5pt;
}
#out_ieee {
	border: 1pt solid #a5a5a5;
	margin: 5pt;
}
